{% if type =='start' %}
    <div class="group-widget--element" data-id="{{ id }}">
        <div class="drop-area"></div>
        <div class="controls">
            <button type="button" disabled="disabled" data-up aria-label="{{ 'MSC.move_up.1'|trans({}, 'contao_default') }}"></button>
            <div draggable="false" data-drag aria-label="{{ 'MSC.dragItemsHint'|trans({}, 'contao_default') }}"></div>
            <button type="button" disabled="disabled" data-down aria-label="{{ 'MSC.move_down.1'|trans({}, 'contao_default') }}"></button>
            <button type="button" disabled="disabled" data-remove aria-label="{{ 'MSC.delete'|trans({}, 'contao_default') }}"></button>
        </div>
{% else %}
    </div>
{% endif %}
