{% if type =='start' %}
    {%- set htmlAttributes = htmlAttributes|merge({
        class: (htmlAttributes.class|default('') ~ ' widget group-widget')|trim,
        'data-controller': 'mvo--group-widget',
        'data-mvo--group-widget-min-value': group.minElements,
        'data-mvo--group-widget-max-value': group.maxElements,
        'data-mvo--group-widget-ordering-enabled-value': order ? 'true' : 'false',
    }) -%}
    <div{% for name, value in htmlAttributes %} {{ name|e('html_attr') }}="{{ value }}"{% endfor %}>
        <div class="group-widget--header">
            {% if group.label %}
                <h3>{{ group.label }}</h3>
                {% if group.description %}
                    <p class="tl_help tl_tip">{{ group.description|raw }}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="group-widget--container">
{% else %}
        </div>
        <div class="group-widget--footer">
            <div class="drop-area"
                 data-mvo--group-widget-target="footerDropArea"
                 data-action="dragenter->mvo--group-widget#dragEnter dragover->mvo--group-widget#dragOver:prevent dragleave->mvo--group-widget#dragLeave drop->mvo--group-widget#drop">
            </div>

            <div class="controls">
                <input data-mvo--group-widget-target="order" type="hidden" name="group-widget__{{ group.name }}">
                <button type="button"
                        disabled="disabled"
                        data-mvo--group-widget-target="addButton"
                        data-action="mvo--group-widget#add:prevent"
                        data-add
                        title="{{ 'DCA.new.1'|trans({}, 'contao_default') }}"
                        class="controls--add">
                </button>
            </div>
        </div>
    </div>
{% endif %}
