{% if type =='start' %}
    {%- set htmlAttributes = htmlAttributes|merge({
        class: (htmlAttributes.class|default('') ~ ' widget group-widget')|trim
    }) -%}
    <div{% for name, value in htmlAttributes %} {{ name }}="{{ value }}"{% endfor %}>
        <div class="group-widget--header">
            {% if group.label %}
                <h3>{{ group.label }}</h3>
                {% if group.description %}
                    <p class="tl_help tl_tip">{{ group.description|raw }}</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="group-widget--container" data-min="{{ group.minElements }}" data-max="{{ group.maxElements }}" data-order="{{ order ? '1' : '0' }}">
{% else %}
        </div>
        <div class="group-widget--footer">
            <div class="drop-area"></div>
            <div class="controls">
                <input data-order type="hidden" name="group-widget__{{ group.name }}">
                <button type="button" disabled="disabled" data-add title="{{ 'DCA.new.1'|trans({}, 'contao_default') }}"></button>
            </div>
        </div>
    </div>
{% endif %}
