{% if type =='start' %}
    <div class="widget widget-group">
        <div class="widget-group--header">
            <h3>{{ group.label }}</h3>
            {% if group.description %}
                <p class="tl_help tl_tip">{{ group.description }}</p>
            {% endif %}
        </div>
        <div class="widget-group--container" data-min="{{ group.minElements }}" data-max="{{ group.maxElements }}">
{% else %}
        </div>
        <div class="widget-group--footer">
            <div class="drop-area"></div>
            <div class="controls">
                <input data-order type="hidden" name="widget-group__{{ group.name }}">
                <button disabled="disabled" data-add title="{{ 'DCA.new.1'|trans({}, 'contao_default') }}"></button>
            </div>
        </div>
    </div>
{% endif %}
